* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    background-color: #0D2703/* rgb(13,39,30) */;
    color: #ffff;
}

/*vista considerada para moviles estándar */
@media (max-width: 480px) { 
    .descripcion{ 
        height: 70vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }
    .photo-desc{
        height: 200px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photo-desc img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
    }
    .descripcion-misc{
        height: 20vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .texto-desc{
        height: 20vh;
        width: 100vw;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .media-desc{
        height: 20vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }     
    .pill{
        height: 25px;
        border: solid rebeccapurple;
        background-color: #004E00;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;    
        padding: 0px 10px 0px 10px;
                
    }
    .tecnologias{
        padding: 0px 20px 0px 20px;
    }
    .medallas{
        border: solid greenyellow;
        width: 90vw;
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
        justify-content:start;
        align-content: flex-start;
        gap: 0.3rem;        
    } 
    .lineadetiempo{
        border: solid rgb(4, 204, 249);
        width: 100vw;
        height: 500vh;
        gap: 2rem;
    }
    .tarjetaldt{
        display: flex;
        flex-direction:column;
        align-items: center;

    }
    .tar_titulos{
        border: solid red;
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .tar_main{
        border: solid black;
        display:flex;
        flex-direction: column;

    }
    .tar_text{

    }
    .tar_img{
        
    }
    .trabajos{
        border: solid yellow;
        width: 90vw; 
    }

    .mediafooter{
        border: solid blue;
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
} 

/* esta vista esta considerada para moviles pequeños (Movil L en chrome)
 L) */
@media (min-width: 481px) and (max-width: 1023px) {    
}
/* esta vista esta cosiderada para pantallas topo desktop (laptop en chrome) */
@media (min-width: 1024px) and (max-width: 1440px) {    
}
