* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "Helvetica Neue", Arial, sans-serif;
}
/* esta vista esta considerada para moviles pequeños (Movil S en chrome) */
@media (max-width: 320px) {
    .container{
        background-color: #212121;
        color: aliceblue;
    }
    .mainindex {
        width: 100vw;
        height: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 3rem;
        padding: 2rem 0rem 0rem 0rem;
        border: solid red;
    }
    .rounded-circle{
        width: 15rem;
        height: 15rem;
    }
    .aboutme {
        width: 100vw;
        height: 65vh;
        text-align: center;
        padding: 0rem 1rem 0rem 1rem;
    }
    .mystack {
        border: solid green;
        width: 100vw;
        height: 85vh;
        text-align: center;
    }
    .stack{
        width: 100vw;
        height: 80vh;
        border: solid red;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        padding: 3rem 0rem 0rem 0rem;
    }
    .columna1 {
        width: 30vw;
        height: 70vh; 
        display: flex;
        flex-direction: column;
        border: solid purple;

    }
    .columna2 {
        width: 30vw;
        height: 70vh;    
        display: flex;
        flex-direction: column;
        border: solid orange;
    }
    .footer {
        background-color: #212121;
        width: 100vw;
        height: vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
        padding: 1rem 0rem 0rem 0rem;
        color: aliceblue;
        border: solid purple;

    }
}
/* esta vista esta considerada para moviles estándar (Movil M en chrome) */
@media (min-width: 321px) and (max-width: 375px) {
    * {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "Helvetica Neue", Arial, sans-serif;
    }
    .mainindex {
        width: 100vw;
        height: 190vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 3rem;
        padding: 2rem 0rem 0rem 0rem;
        border: solid red;
    }
    .rounded-circle{
        width: 15rem;
        height: 15rem;
    }
    .aboutme {
        width: 100vw;
        height: 57vh;
        text-align: center;
        padding: 0rem 1rem 0rem 1rem;
    }
    .mystack {
        border: solid green;
        width: 100vw;
        height: 85vh;
        text-align: center;
    }
    .stack{
        width: 100vw;
        height: 80vh;
        border: solid red;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        padding: 3rem 0rem 0rem 0rem;
    }
    .columna1 {
        width: 30vw;
        height: 70vh; 
        display: flex;
        flex-direction: column;
        border: solid purple;

    }
    .columna2 {
        width: 30vw;
        height: 70vh;    
        display: flex;
        flex-direction: column;
        border: solid orange;
    }
    .footer {
        background-color: #212121;
        width: 100vw;
        height: vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
        padding: 1rem 0rem 0rem 0rem;
        color: aliceblue;
        border: solid purple;
    }
}
/* esta vista esta considerada para moviles pequeños (Movil L en chrome)
 L) */
@media (min-width: 376px) and (max-width: 425px) {
    .container{
        background-color: #212121;
        color: aliceblue;
    }
    .mainindex {
        width: 100vw;
        height: 183vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 3rem;
        padding: 2rem 0rem 0rem 0rem;
        border: solid red;
    }
    .rounded-circle{
        width: 15rem;
        height: 15rem;
    }
    .aboutme {
        width: 100vw;
        height: 50vh;
        text-align: center;
        padding: 0rem 1rem 0rem 1rem;
    }
    .mystack {
        border: solid green;
        width: 100vw;
        height: 85vh;
        text-align: center;
    }
    .stack{
        width: 100vw;
        height: 80vh;
        border: solid red;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        padding: 3rem 0rem 0rem 0rem;
    }
    .columna1 {
        width: 30vw;
        height: 70vh; 
        display: flex;
        flex-direction: column;
        border: solid purple;

    }
    .columna2 {
        width: 30vw;
        height: 70vh;    
        display: flex;
        flex-direction: column;
        border: solid orange;
    }
    .footer {
        background-color: #212121;
        width: 100vw;
        height: vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
        padding: 1rem 0rem 0rem 0rem;
        color: aliceblue;
        border: solid purple;
    }
}
/* esta vista esta considerada para tablets y móviles grandes (tablets en chrome) */
@media (min-width: 426px) and (max-width: 768px) {
    .container{
        background-color: #212121;
        color: aliceblue;
    }
    .mainindex {
        width: 100vw;
        height: 135vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 3rem;
        padding: 2rem 0rem 0rem 0rem;
        border: solid red;
    }
    .rounded-circle{
        width: 15rem;
        height: 15rem;
    }
    .aboutme {
        width: 100vw;
        height: 35vh;
        text-align: center;
        padding: 0rem 1rem 0rem 1rem;
    }
    .mystack {
        border: solid green;
        width: 100vw;
        height: 50vh;
        text-align: center;
    }
    .stack{
        width: 100vw;
        height: 45vh;
        border: solid red;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        padding: 3rem 0rem 0rem 0rem;
    }
    .columna1 {
        width: 100vw;
        height: 15vh;    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border: solid purple;

    }
    .columna2 {
        width: 100vw;
        height: 15vh;    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border: solid orange;
    }
    .footer {
        background-color: #212121;
        width: 100vw;
        height: vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
        padding: 1rem 0rem 0rem 0rem;
        color: aliceblue;
        border: solid purple;
    }
}
/* esta vista esta cosiderada para pantallas tipo laptop pequeñas (laptop en chrome) */
@media (min-width: 769px) and (max-width: 1024px) {
    .container{
        background-color: #212121;
        color: aliceblue;
    }
    .mainindex {
        width: 100vw;
        height: 124vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 3rem;
        padding: 2rem 0rem 0rem 0rem;
        border: solid red;
    }
    .rounded-circle{
        width: 15rem;
        height: 15rem;
    }
    .aboutme {
        width: 100vw;
        height: 40vh;
        text-align: center;
        padding: 0rem 1rem 0rem 1rem;
        border: solid purple;
    }
    .mystack {
        border: solid green;
        width: 100vw;
        height: 50vh;
        text-align: center;
    }
    .stack{
        width: 100vw;
        height: 45vh;
        border: solid red;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        padding: 3rem 0rem 0rem 0rem;
    }
    .columna1 {
        width: 100vw;
        height: 15vh;    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border: solid purple;

    }
    .columna2 {
        width: 100vw;
        height: 15vh;    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border: solid orange;
    }
    .footer {
        background-color: #212121;
        width: 100vw;
        height: vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
        padding: 1rem 0rem 0rem 0rem;
        color: aliceblue;
        border: solid purple;
    }
}
/* esta pantalla esta cosiderada para pantallas medianas (laptop L en chrome) */
@media (min-width: 1280px) {
    .container{
        background-color: #212121;
        color: aliceblue;
    }
    .mainindex {
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 3rem;
        padding: 2rem 0rem 0rem 0rem;
        border: solid red;
    }
    .rounded-circle{
        width: 15rem;
        height: 15rem;
    }
    .aboutme {
        width: 60vw;
        height: 20vh;
        text-align: center;
        padding: 0rem 1rem 0rem 1rem;
        border: solid purple;
    }
    .mystack {
        border: solid green;
        width: 100vw;
        height: 30vh;
        text-align: center;
    }
    .stack{
        width: 100vw;
        height: 45vh;
        border: solid red;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        padding: 3rem 0rem 0rem 0rem;
    }
    .columna1 {
        width: 100vw;
        height: 10vh;    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border: solid purple;

    }
    .columna2 {
        width: 100vw;
        height: 10vh;    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border: solid orange;
    }
    .footer {
        background-color: #212121;
        width: 100vw;
        height: vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        text-align: center;
        padding: 1rem 0rem 0rem 0rem;
        color: aliceblue;
        border: solid purple;
    }
}